@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header {
    padding: 46px 0;
    background-color: #fff;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__btn {
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
    }

}

.logo {
    margin: 0 auto;
}

.menu {
    padding-right: 15px;

    &__list {
        display: flex;
    }

    &__list-item + .menu__list-item {
        padding-left: 35px;
        padding-right: 45px;

    }

    &__list-link {
        @extend %title-font;
        color: $title;
    }
}

